<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/MUSA_panel-table-1.css">
    <link rel="stylesheet" href="/assets/css/MUSA_panel-table.css">
    <link rel="stylesheet" href="/assets/css/styles-1.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
</head>

<body>
    <div id="navigation-block">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><a class="navbar-brand" style="font-family:Bungee, cursive;" href="#">elidek</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" href=/>Home</a></li>
                        <li class="nav-item"><a class="nav-link" href=/Query>Querys</a></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
	
	
	    <div class="container py-5">
		
			<div class="col-lg-7 mx-auto bg-white rounded shadow">
				<div class="container">
					<div class="row" id="row">
						<div class="col-md-12">
							<h1>Select criteria</h1>
							<form class="form-horizontal" name="student-form" action="/Query/query1" method="GET">
								<input type="date" name="begin_date" id="begin_date" placeholder="Begin Date" ></br>
								<input type="number" name="duration" id="duration" placeholder="Duration"></input></br>
							    <select name = "manager_name" id="manager_name">
							        <option selected="" disabled="">Choose Manager</option>
									<% managers.forEach((man, _) => {%>
									<option value = "<%=man.Executive_manger_id %>"><%= man.name %>
									</option>
									<% }) %>
								</select></br></br>

								<button type="submit" class="btn btn-primary btn-submit-custom">Submit</button>

						    </form>
						</div>
					</div>
			
			
        <div class="row">
            
                <!-- Fixed header table-->
                <div class="table-responsive">
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th scope="col" class="col-3">Project Title</th>
                                <th scope="col" class="col-3">Funding Program</th>
                                <th scope="col" class="col-3">Start Date</th>
                                <th scope="col" class="col-3">End Date</th>
                                <th scope="col" class="col-3">Budget</th>
                                <th scope="col" class="col-3">Manager Name</th>
								<th scope="col" class="col-3">Researchers Info</th>
                            </tr>
                        </thead>
						<tbody>
							<%  projects.forEach((i, _) => { %>
							<tr>
								<th scope="row" class="col-3">
									<%= i.Title%>
								</th>
								<td class="col-3">
									<%= i.fundin%>
								</td>
								<td class="col-3">
									<%= (i.BeginDate).toLocaleDateString()%>
									</td>
								<td class="col-3">
									<%= (i.ExpiryDate).toLocaleDateString()%>
								</td>
								<td class="col-3">
									<%= i.Budget%>
								</td>
								<td class="col-3">
									<%= i.name%>
								</td>
								<form method="GET" action="/Organization/<%= i.Title %>/Researchers/">
									<td>
										<button style="all: unset; cursor: pointer;" type="submit">
											<i class="fa fa-info"></i>
										</button>
									</td>
								</form>
							</tr>
							<% }) %>

						</tbody>
                    </table>
                </div><!-- End -->
  
                
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/Bootstrap-DataTables.js"></script>
</body>

</html>